LOG_FILE="/var/log/server.log.ndjson" 

GOOGLE_CHAT_WEBHOOK="" 

ENABLE_TIME_WINDOW=false 
START_TIME="09:00" 
END_TIME="17:00" 

STATE_FILE="./processed_hashes.txt" 
APP_LOG="./monitor.log" 
MESSAGE_LOG="./messages.log"

OFFSET_FILE="./monitor.offset"